.btn {
  background: $red;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: rem(5px);
  font-size: rem(13px);
  display: inline-block;
  padding: rem(10px) rem(15px);
  box-shadow: none;
  border: none;
  color: $white;
  font-weight: bold;
  height: rem(35px);

  &__hero {
    margin-left: rem(15px);
  }

  &__reset {
    background: none;
    text-transform: none;
    font-weight: normal;
  }
}


