.delivery{
  background-image: url(/img/bg/form.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.delivery-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablets {
        justify-content: center;
    }

}

.delivery {
    .section-header_yellow {
        font-size: 32px;
        margin: 0 auto 20px;
    }

    .delivery-form {
        .delivery-form__column_info {
            align-items: center;
        }
    }

    .delivery-form__column_buyer {

        label:last-child {
            display: none;
        }

        .delivery-form__house,
        .delivery-form__corps,
        .delivery-form__apartment {
            flex: 0 1 30%;

            &:first-child {
                margin-left: 10px;
            }
        }
    }
}

.delivery-form__column{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: 0 1 28.75rem;

    input[type="text"],
        input[type="tel"],
        textarea{
            width: 100%;
            border-radius: 0.25rem;
            outline: none;
            border: 0.0625rem solid #d1cfcb;
            padding: 0.25rem 1.125rem;
        }

}

.delivery-form__label-name{
    color: white;
    font-size: 0.875rem;
    line-height: 0.875rem;
    display: inline-block;
    margin-bottom: 0.5625rem;
}

.delivery-form__column_buyer{
    justify-content: space-between;

    label{
        flex: 0 0 100px;
    }
    input{
        line-height: 1.5625rem;
        margin-bottom: 1.25rem;
    }
    .delivery-form__name,
    .delivery-form__phone{
        flex: 0 0 47%;
    }
    .delivery-form__street{
        flex: 0 0 100%;
    }

}

.delivery-form__column_info{
    display: flex;
    flex-direction: column;

    .delivery-form__comment{
        width: 100%;
        margin-bottom: 1.25rem;
        textarea{
            resize: none;
            height: 6.8125rem;
        }
    }
}

.delivery-form__change{
    display: flex;
    margin-bottom: 2.3125rem;
    input[type='radio']{
        display: none;
    }

    .delivery-form__change-item{
        position: relative;
        display: flex;

        &:first-child{
            margin-right: 1.25rem;
        }

        .delivery-form__label-name{
            margin: 0;
        }

        .delivery-form__change-input:checked + .delivery-form__radio-btn::before{
            opacity: 1;
        }
    }
}

.delivery-form__radio-btn{
    width: 0.9375rem;
    height: 0.9375rem;
    margin-right: 0.625rem;
    border-radius: 50%;
    background-color: white;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0.4375rem;
        height: 0.4375rem;
        border-radius: 50%;
        opacity: 0;
        background-color: #e35028;
    }
}


.delivery-form__call-back{
    display: flex;
    margin-bottom: 1.25rem;

    .delivery-form__input-call{
        display: none;
    }

    .delivery-form__chek-call{
        margin-right: 0.625rem;
        width: 0.9375rem;
        height: 0.9375rem;
        background-color: white;
    
        .chek-mark{
            transition: .3S;
            background-image: url(/img/icons/check.png);
            opacity: 0;
            height: inherit;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .delivery-form__input-call:checked + .delivery-form__chek-call .chek-mark{
        opacity: 1;
    }
}

.delivery-form__btn{
    .delivery-form__btn_submit{
        border: none;
        margin-right: 1.25rem;
    }
    .delivery-form__btn_reset{
        background-color: transparent;
        border: none;
        color: white;
        font-size: 0.875rem;
    }
}
