.features {
  background: url('/img/bg/features.jpg') center center / cover no-repeat;
}

.features__list {
  display: flex;
  justify-content: space-between;
  
  @include phones {
    flex-direction: column;
  }

}

.features__item {
  width: calc(100% / 3 - rem(26px));

  @include phones {
    display: flex;
  }
}
