.features {
  background: url('/img/bg/features.jpg') center center / cover no-repeat;
}

.features__list {
  display: flex;
  justify-content: space-between;
  
  @include phones {
    flex-direction: column;
  }

}

.features__item {
  width: 215px;
  margin: 15px;

  @include phones {
    display: flex;
    width: auto;
    margin: 0;
  }
}

.feature {
  text-align: center;

  &__content {


    @include iphone {
    width: 225px;
    margin-bottom: 18px;
    }
  }
}

.feature__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(36px);

  @include iphone {
    width: 60px;
    height: 60px;
    margin-right: 16px;

  }
}

.feature__title {
  font-size: 24px;
  @include lifehack();
  line-height: 1.1;
  margin-bottom: 20px;
}
