.footer {
	background: url(/img/bg/footer.jpg) center bottom no-repeat;
	background-size: cover;
  padding: rem(11px) 0;
	height: rem(60px);
	
	@include phones {
		padding: 0;
	}

	&__container {
		display: flex;
		flex-direction: row;
		align-items: center;
	
	}
	
	&__col {
		width: 50%;
		margin-bottom: rem(15px);
	
	}
	
	&__address {
		color: #ffffff;
		font-size: rem(14px);

		@include phones {
			font-size: rem(12px)
		}
		
	}
	
	&__phone {
		color: $red;
		@include ubuntu(bold);
		text-decoration: none;
		font-size: rem(14px);

		@include phones {
			font-size: rem(12px)
		}
	}
	
	&__col_right {
		text-align: right;
		margin-bottom: 0;
	}
}

.socials {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	&__item {
		margin-left: rem(20px);
		opacity: 0.3;

		&:hover {
			opacity: 1;
			transition-duration: 1s;
		}
	}
}
