.hero {
  background: url("/img/bg/hero.jpg") center center / cover no-repeat;
  color: #fff;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .8;
  
    @include tablets {
      flex-direction: column;
    }
  
  }
  
  &__image {
    height: rem(330px);
    width: rem(370px);

    @include tablets {
      height: 326px;
      width: 368px;
      margin-bottom: 40px;
    }

    @include iphone {
      height: 226px;
      width: 248px;
      margin-bottom: 23px;
    }
  }
  
  &__desc {
    font-size: rem(65px);
    @include lifehack();
    line-height: 1.1;

    @include iphone {
      font-size: 40px;
    }
  }
  
  
  &__text {
  
    @include tablets {
      text-align: center;
      height: 219px;
      width: 406px;
    }
  }
}

