.menu {
  background: url("/img/bg/menu.jpg") center center / cover no-repeat;
  color: #fff;
  position: relative;
  background-size: cover;
  flex-direction: row;

  &__title {
    position: absolute;
    left: 70px;
    top: 70px;
    z-index: 1;
  }

  &__list {
    display: flex;
    height: 100%;
    margin-left: auto;
  }

  &__item {
    display: flex;
    height: 100%;
    z-index: 2;

    &--active {
      .menu__content {
        width: 542px;
        background-color: rgba(0, 0, 0, 0.7);
        @include phones {
          width: 192px;
        }
      }
      .menu__link span {
        color: #f9b43b;
      }
    }
  }
 
  &__link {
    width: 80px;
    display: block;
    height: 100%;
    background-size: cover;
    background-position: center center;
    text-decoration: none;
    text-transform: uppercase;
    @include gagalin();
    font-size: rem(30px);
    position: relative;

    span {
      position: absolute;
      transform: rotate(-90deg);
      bottom: 140px;
      left: -64px;
      white-space: nowrap;

      @include phones{
        left: -44px;
        bottom: 80px;
      }  

    }

    @include phones {
      width: 43px;
      font-size: 20px;
    }
  }

  &__content {
    width: 0;
    overflow: hidden;
  }

  &__text {
    margin-top: rem(60px);
    margin-left: rem(37px);
    margin-right: rem(37px);
  }
}



