.order {
  background: url("/img/bg/form.jpg") center center / cover no-repeat;
  color: #fff;
  position: relative;

  &__form-tag {
    display: flex;
    justify-content: space-around;
  }

  &__form-row {
    display: flex;
  }
}