.reviews {
  background: black;
  height: 100vh;
  min-height: rem(650px);
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.reviews__item {
  width: 25%;
  height: 50%;

  @include tablets {
    width: 50%;
    height: 25%;
  }
}

.review-popup {
  display: none;

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
  }

  &__content {
    width: 300px;
    height: 500px;
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
  }
}