.scroll-down {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 29px;
  height: 14px;
  padding: 0;
  border: none;
  color: inherit;
  outline: none;
  background-color: transparent;
  background: url(/img/icons/arrow-scroll.png);
}