.slider {
background: url("/img/bg/slider.jpg") center center / cover no-repeat;
color: #fff;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;

  &__wrapper {
    max-width: 1100px;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @include phones {
      max-width: 486px;
    }
  }

    .slide{  
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
      height: 100%;

      @include phones {
        width: 460px;
      }

      &__picture {
        margin-bottom: 26px;
      }

      &__content {
        margin-left: 9px;
        text-align: center;
        width: 450px;
      }

      &__price {
        display: flex;
        justify-content: center;
        @include gagalin();
        align-items: baseline;
        color: #e35028;
        
        &--value {
          font-size: 72px;

        }

        &--currency {
          font-size: 30px;
        }
      }

      &__image {
        width: 450px;

        @include phones {
          width: 400px;
          height: 260px;
        }
      }

      @include tablets {
        flex-direction: column;
      }
    }
}


