.proff {
  background: url("/img/bg/team.jpg") center center / cover no-repeat;
  color: #fff;
  position: relative;

  &__section {
    background-color: rgba($color: #313435, $alpha: 0.9);
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

 
}

.team {
  align-self: flex-start;
  margin-left: 116px;
  
  &__title {
    margin-top: rem(113px);
  }
  
  &__name {
    @include gagalin;
    color: white;
    font-size: 14px;
  }
  @include ubuntu;

  &__item {
    margin-bottom: rem(35px);
    &.active {
      .team__text {
        height: auto;
      }

      .team__proffesion{
        height: auto;
        font-weight: bold;
      }
      
      .team__avatar {
        display: block;
      }

      .team__content{
        display: block;
      }

      .team__name {
        color: #f9b43b;
      }
      
    }
  }
  &__text {
    overflow: hidden;
    height: 0;
    margin-left: rem(21px);
    margin-top: rem(10px);
  }
  &__proffesion{
    overflow: hidden;
    height: 0;
    margin-left: rem(21px);
  }
  
  
  
  &__wrapper {
    display: flex;
  }
  
  &__avatar {
    background: url(/img/content/team_avatar.jpg) center center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    height: rem(100px);
    width: rem(100px);
    object-fit: cover;
    display: none;
  }
  &__avatar--redkliff {
    background: url(/img/content/redkliff.jpg) center center / cover no-repeat;
  }
}


.team__content{
  display: none;
  height: rem(100px);
  width: rem(200px);
}

.team__name .team__item .active {
  color: #f9b43b;
}